/* Write your CSS here */

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.google-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.google-logo {
  width: 250px;
  margin-bottom: 30px;
}
.suggestions-box {
  width: 800px;

  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
}
.search-box {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}
.search {
  border: none;
  outline: none;
}
.search-icon {
  width: 20px;
  margin-right: 10px;
}
